.companyCard {
  width: 126px;
  height: 187px;
  background-color: var(--gray-400);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.deleteButton {
  position: absolute;
  top: 8px;
  right: 8px;
}
.logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-top: 32px;
}
.companyName {
  color: var(--white);
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 500;
}
.companyCategory {
  color: var(--gray-200);
  margin-top: 4px;
  font-size: 14px;
  font-weight: 500;
}
@media (max-width: 1199px) {
}
@media (max-width: 743px) {
  .companyCard {
    width: 104px;
    height: 163px;
  }
  .logo {
    width: 65px;
    height: 65px;
  }
  .companyName {
    font-size: 14px;
    font-weight: 500;
  }
  .companyCategory {
    font-size: 12px;
    font-weight: 500;
  }
}
