.dataPerRowContainer>a {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 697px;
  max-width: 1200px;
  width: 100%;
  height: 99%;
  background-color: #212121;
  border-radius: 4px;
  transition: all 0.3s ease;

  &:hover {
    background-color: #4b4b4b;
    transform: scale(1.007);
  }
}

.dataPerRowContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 697px;
  max-width: 1200px;
  height: 64px;
  background-color: #212121;
  border-radius: 4px;
  transition: all 0.3s ease;
}

/* 가장 마지막 child가 아니면 bottom border 출력 */
.dataPerRowContainer:not(:last-child) {
  border-bottom: 1px solid #4b4b4b;
}

.dataPerRowContainer:hover {
  background-color: #4b4b4b;
  transform: scale(1.007);
}

.diffSizeContainer>span,
.sameSizeContainer>span,
.companyInfoContainer>span {
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 16.71px;
  color: #d8d8d8;
}

.diffSizeContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  text-align: center;
}

.rankSize {
  min-width: 380px;
  max-width: 585px;
}

.noRankSize {
  min-width: 330px;
  max-width: 517px;
}

.investSize {
  min-width: 464px;
  max-width: 738px;
}

.commentSize {
  min-width: 445px;
  max-width: 948px;
}

.companyInfoContainer {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 140px;
  max-width: 213px;
  gap: 12px;
  padding: 0 24px;
}

.companyInfoContainer>span {
  font-size: 0.875rem;
  font-weight: 500;
  color: #ffffff;
}

.companyInfoContainer>img {
  aspect-ratio: 1;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.sameSizeContainer {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 228px;
  width: 100%;
}

.sameSizeContainer>span {
  width: 100%;
}

.commentSizeForSame {
  min-width: 252px;
  max-width: 252px;
}

.ivestSizeForSame {
  min-width: 228px;
  max-width: 460px;
}

.columnRank {
  min-width: 60px;
  max-width: 68px;
  width: 100%;
}

.columnCategory {
  min-width: 84px;
  max-width: 153px;
  width: 100%;
}

.columnCompanyDescription {
  width: 100%;
  min-width: 180px;
  max-width: 304px;
  height: 34px;
  padding: 0px 16px;
  line-height: 16.71px;
  white-space: normal;
  text-wrap: wrap;
  text-align: left;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.columnComment {
  min-width: 381px;
  max-width: 884px;
  padding: 0px 16px;
  white-space: normal;
  text-align: left;
  width: 100%;
}

.columnNone {
  width: 64px;
}

.dropdownContainer {
  position: relative;
}

.kebabIcon {
  cursor: pointer;
  margin-right: 13px;
}

.dropdownContainer {
  position: relative;
}

.kebabIcon {
  cursor: pointer;
}

.dropdownMenu {
  position: absolute;
  right: 0;
  top: calc(100% + 5px);
  right: calc(40%);
  background-color: var(--black-400);
  border: 1px solid var(--gray-200);
  border-radius: 10px;
  z-index: 1000;
  width: 144px;
  overflow: hidden;
  /* 드롭다운 메뉴의 너비 조정 */
}

.dropdownMenu button {
  display: block;
  width: 100%;
  height: 40px;
  background: none;
  border: none;
  text-align: center;
  cursor: pointer;
  border-bottom: 1px solid var(--gray-200);
  color: var(--gray-100);
  /* 버튼 사이에 구분선 추가 */
}

.dropdownMenu button:last-child {
  border-bottom: none;
  /* 마지막 버튼의 구분선 제거 */
}

.dropdownMenu button:hover {
  background-color: var(--gray-300);
}

@media (max-width: 744px) {
  .companyInfoContainer>span {
    font-size: 0.8125rem;
  }

  .diffSizeContainer>span,
  .sameSizeContainer>span,
  .companyInfoContainer>span {
    font-size: 0.8125rem;
  }
}