.largenBtn {
  background-color: var(--black-100);
  color: var(--gray-200);
  border-radius: 50px;
  border: none;
  width: 183px;
  height: 48px;
  font-weight: 600;
  font-size: 1rem;
  padding: 13px 48px;
  gap: 10px;
  cursor: pointer;
}

.largeBtn.active {
  background-color: var(--brand-orange);
  color: var(--white);
}
@media (max-width: 743px) {
  .largenBtn {
    width: 124px;
    height: 40px;
  }
}
