.buttonWrapper {
  display: flex;
  justify-content: center; /* 가로 방향으로 가운데 정렬 */
  width: 100%; /* 부모 요소의 가로 너비를 채움 */
}

.mediumBtn {
  background-color: var(--black-100);
  color: var(--gray-200);
  border-radius: 50px;
  border: none;
  width: 135px;
  height: 40px;
  font-weight: 600;
  font-size: 14px;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mediumBtn.active {
  width: 124px;
  background-color: var(--brand-orange);
  color: var(--white);
}

@media (max-width: 743px) {
  .mediumBtn {
    width: 128px;
    height: 32px;
  }
}

