.buttonWrapper {
  display: flex;
  justify-content: center;
  width: 100%; 
}

.mediumBtn {
  background-color: var(--black-100);
  color: var(--gray-200);
  border-radius: 50px;
  border: none;
  width: 194px;
  height: 48px;
  font-weight: 600;
  font-size: 16px;
  padding: 0 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.mediumBtn.active {
  background-color: var(--brand-orange);
  color: var(--white);
}

.mediumBtn.disabledBtn {
  background-color: #2E2E2E !important;
  color: #747474 !important;
  cursor: not-allowed !important; 
}

@media (max-width: 743px) {
  .mediumBtn {
    width: 135px;
    height: 44px;
    font-size: 14px;
  }
}

