@import "../styles/reset.css";

/* 페이지네이션 버튼 */
.pagination {
  margin-top: 20px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  width: 48px;
  height: 48px;
  border-radius: 20.83%; /* 10px의 반지름을 퍼센트로 변환한 값 */
  background-color: var(--black-100); /* 버튼 배경 색상 */
  font-weight: 400;
  border: none;
  color: var(--gray-200);
  font-size: 18px;
  line-height: 40px;
  cursor: pointer;
  margin: 0;
}

/* 왼쪽 및 오른쪽 버튼 스타일 */
.leftPageButton,
.rightPageButton {
  margin: 0 8px;
}

/* 페이지 번호 버튼 스타일 */
.pageNumberButtons button {
  margin: 0 4px;
}

/* 버튼 호버 상태 */
.button:hover {
  background-color: var(--gray-100);
  color: var(--brand-orange);
}

/* 활성 페이지 버튼 스타일 */
.active {
  background-color: var(--brand-orange);
  color: #ffffff;
  border: none;
}

/* 비활성화된 버튼 스타일 */
.button:disabled {
  background-color: var(--gray-300); /* 비활성화된 버튼 배경 색상 */
  color: var(--gray-400); /* 비활성화된 버튼 텍스트 색상 */
  cursor: not-allowed; /* 비활성화된 버튼 커서 */
}

/* 모바일 화면에서 버튼 크기 조정 */
@media (max-width: 600px) {
  .button {
    width: 32px;
    height: 32px;
    font-size: 16px;
    line-height: 32px;
  }
}
