.searchBar {
  position: relative;
  /*크기 조절*/
  width: 448px;
  height: 48px;
}
.searchInput {
  width: 100%;
  height: 100%;
  background-color: var(--black-300);
  color: var(--gray-100);
  border: 1px solid var(--gray-200);
  border-radius: 10px;
  text-indent: 44px;
  &::placeholder {
    color: var(--gray-100);
  }
}
.searchIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translate(0, -50%);
}
.searchIconActive {
  left: auto;
  right: 12px;
}
.deleteButton {
  position: absolute;
  right: 48px;
  top: 50%;
  transform: translate(0, -50%);
}
@media (max-width: 1199px) {
}
@media (max-width: 743px) {
  .searchBar {
    width: 311px;
    height: 40px;
  }
}
