.searchBar {
  position: relative;
  width: 448px;
  height: 48px;
}

.searchInput {
  width: 100%;
  height: 100%;
  background-color: var(--black-300);
  color: var(--gray-100);
  border: 1px solid var(--gray-200);
  border-radius: 10px;
  text-indent: 44px; /* 초기에는 검색 아이콘 때문에 글자가 이 위치에서 시작 */
  text-align: start;
  padding-right: 48px; 
  transition: text-indent 0.3s ease; /* 텍스트 위치가 이동 */
}

.searchInput.textShift {
  text-indent: 12px; /* 검색 아이콘이 오른쪽으로 이동할 때 텍스트가 시작되는 위치 */
}

.searchIcon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translate(0, -50%);
  transition: left 0.3s ease;
}

.searchIconActive {
  left: auto;
  right: 12px;
}

.deleteButton {
  position: absolute;
  right: 48px;
  top: 50%;
  transform: translate(0, -50%);
  &:hover {
    cursor: pointer;
  }
}

@media (max-width: 743px) {
  .searchBar {
    width: 189px;
    min-width: 189px;
    height: 40px;
  }
}

