.bgSet {
  background-color:#131313;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.navSet {
  width: 100%;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1248px;
  min-width: 792px;
  padding: 24px;

}
.headerBox {
  display: flex;
  flex-direction: column;

  width: 100%;
  flex-basis: 1200px;
  gap: 28px;
}

.headerText{
  display: flex;
  justify-content: flex-start;
  font-weight: 700;
  font-size: 1.25rem;
  color: #FFFFFF;
}

