.pageContainer {
  background-color: #131313;
  height: 100vh;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 90px;
  margin-left: calc(50% - 600px + 24px);
  margin-right: auto;
}

.headingWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: calc(100% - 48px);
  max-width: 1156px;
}

.heading {
  color: #ffffff;
  font-family: "Pretendard", sans-serif;
  font-weight: 700;
  text-align: left;
  font-size: 20px;
}

/* "전체 초기화" 버튼 크기 조정 */
.resetBtnWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.resetBtnWrapper button {
  width: 149px;
  height: 40px;
  font-size: 16px;
}

.icRestart {
  width: 18px;
  height: 18px;
}

.addMyCompany {
  margin-top: 30px;
  border: 1px dotted #212121;
  box-sizing: border-box;
  width: calc(100% - 48px);
  max-width: 1156px;
  margin-left: 0;
  margin-right: auto;
  height: 300px;
}

.innerBox {
  background-color: #212121;
  margin: 16px;
  border-radius: 4px;
  height: calc(100% - 32px);
  width: calc(100% - 32px);
  display: flex;
  align-items: center;
  justify-content: center;
}

.addButtonWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.addButton {
  position: relative;
  width: 48px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icCircle {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
}

.icPlus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.addText {
  font-family: "Pretendard", sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 21.48px;
  color: #ffffff;
  margin-top: 20px;
}

.btnWrapper {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.btnWrapper button {
  width: 100%;
  max-width: 194px;
  height: 48px;
}

/* 비활성화된 상태의 버튼 스타일 */
.disabledBtn {
  background-color: #2E2E2E !important;
  color: #747474 !important;
  cursor: not-allowed !important;
}

/* 태블릿 및 모바일 버전 */
@media (max-width: 1199px) {
  .content {
    margin-left: 24px;
  }

  .heading {
    font-size: 20px;
  }

  .resetBtnWrapper button {
    width: 149px;
    height: 40px;
    font-size: 16px;
  }

  .addMyCompany {
    width: calc(100% - 2 * 24px);
    height: 240px;
  }

  .headingWrapper {
    width: calc(100% - 48px);
  }
}

/* 모바일 버전 */
@media (max-width: 743px) {
  .content {
    margin-left: 16px;
    padding-top: 60px;
  }

  .heading {
    font-size: 16px;
  }

  .resetBtnWrapper button {
    width: 116px;
    height: 32px;
    font-size: 14px;
  }

  .addMyCompany {
    width: calc(100% - 2 * 16px);
    height: 180px;
  }

  .headingWrapper {
    width: calc(100% - 2 * 16px);
  }
}

/* ModalSelectComparision 컴포넌트의 위치 설정 */

/* 기본값 (데스크탑) */
.modalSelectComparision {
  position: fixed;
  top: 408px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
}

/* 태블릿 버전 */
@media (max-width: 1199px) {
  .modalSelectComparision {
    top: 402px;
  }
}

/* 모바일 버전 */
@media (max-width: 743px) {
  .modalSelectComparision {
    top: 268px;
  }
}
