@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

* {
  box-sizing: border-box;
  font-family: 'Pretendard', sans-serif;
  margin: 0px;
  padding: 0px;
  white-space: nowrap; /* 글자 넘침 시 처리 방식 */
  text-align: center; 
  vertical-align: bottom;
}

/* Link로 스타일링 되는 a태그 기본값 설정 */
a { 
  text-decoration: none;
  color: inherit;
  font-size: inherit;
  font-weight: inherit;
}

/* li 태그 사용 시 앞에 붙는 스타일 제거 */
li {
  list-style: none;
}

:root {
  --black-400: #131313;
  --black-300: #212121;
  --black-200: #282828;
  --black-100: #2e2e2e;

  --gray-400: #333333;
  --gray-300: #4b4b4b;
  --gray-200: #747474;
  --gray-100: #d8d8d8;

  --brand-orange: #eb5230;
  --blue-blue: #558fff;
  --error-red: #c41013;

  --white: #ffffff;
}
