.companyItem {
  display: flex;
  justify-content: space-between;
  background: #81d8cc;
  width: 448px;
  height: 48px;
}

/* 기업로고 기업명 카테고리 박스 */
.companyItemContainer {
  display: flex;
  gap: 16px;
  align-items: center;
}

/* 기업 로고 이미지*/
.companyLogo {
  width: 48px;
  height: auto;
}

/* 기업명 */
.companyName {
  font-size: 16px;
  font-weight: 500;
}

/* 카테고리 */
.category {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-200);
}

/* 선택하기 버튼 */
.selectBtn {
  width: 104px;
  padding: 13px 24px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--brand-orange);
  color: var(--brand-orange);
  font-size: 16px;
  background-color: transparent; /* 기본 배경을 투명하게 설정 */
}

/* 선택완료 시 버튼 */
.selectBtn.selected {
  background-color: transparent; /* 기본 배경을 투명하게 설정 */
  border: 1px solid var(--white);
  color: white;
}
