.companyItem {
  display: flex;
  justify-content: space-between;
  background: #030303;
  width: 448px;
  height: 48px;
  margin-bottom: 12px;
}

/* 기업로고 기업명 카테고리 박스 */
.companyItemContainer {
  display: flex;
  gap: 16px;
  align-items: center;
}

/* 기업 로고 이미지*/
.companyLogo {
  width: 48px;
  height: auto;
  border-radius: 50%; /* 둥근 모양으로 만들기 */
  object-fit: cover; /* 이미지 비율 유지 */
}

/* 기업명 */
.companyName {
  color: var(--white);
  font-size: 16px;
  font-weight: 500;
}

/* 카테고리 */
.category {
  font-size: 12px;
  font-weight: 400;
  color: var(--gray-200);
}

/* 선택하기 버튼 */
.selectBtn {
  width: 104px;
  padding: 13px 24px;
  gap: 10px;
  border-radius: 10px;
  border: 1px solid var(--brand-orange);
  color: var(--brand-orange);
  font-size: 16px;
  background-color: transparent; /* 기본 배경을 투명하게 설정 */
}

/* 선택완료 시 버튼 */
.selectBtn.selected {
  background-image: url("/src/assets/images/ic_check.png");
  background-position: 10px center;
  background-size: 24px;
  padding-left: 35px; /* 텍스트와 이미지 사이 간격 조정 */
  text-align: center; /* 텍스트 중앙 정렬 */
  background-repeat: no-repeat;
  background-color: transparent;
  border: 1px solid var(--white);
  color: var(--white);
  font-size: 16px;
}
