.dataRowSet {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

@media (max-width: 744px) {
  .dataRowSet {
    height: 100%;
    overflow-x: auto;  
    overflow-y: hidden;  /* y축의 스크롤을 비활성화 */
    white-space: nowrap; /* 줄바꿈을 방지하여 x축 스크롤을 유지 */
    padding-bottom: 12px;
  }
  .dataRowSet::-webkit-scrollbar {
    height: 12px;
  }

  .dataRowSet::-webkit-scrollbar-track {
    background: #212121;
    border-radius: 10px;
  }

  .dataRowSet::-webkit-scrollbar-thumb {
    min-width: 101px;
    background-color: #131313;
    border-radius: 10px;
    border: 2px solid #212121;
  }

  .dataRowSet::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}

.loaderBox {
  background-color: #212121;
  height: 640px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 1.75rem;
  font-weight: 500;
  color: #555;
}

.loader {
  border: 16px solid #555; /* 회색 테두리 */
  border-top: 16px solid #773f0a;
  border-radius: 50%; 
  width: 100px;
  height: 100px;
  animation: spin 0.7s linear infinite; /* 회전 애니메이션 */
  box-shadow: 0 0 2px 1px #555, /* 바깥쪽 테두리를 연하게 */
              0 0 1px 1px rgba(0, 0, 0, 0.1); /* 더욱 연한 바깥쪽 효과 */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


@keyframes fadeInUp {
  from {
    opacity: 0.1;
    transform: translateY(20px); /* 아래에서 시작 */
  }
  to {
    opacity: 1;
    transform: translateY(0); /* 살짝 위로 이동 */
  }
}

.fadeInUpContents {
  animation: fadeInUp 0.6s ease-out forwards;
}