.dataRowSet {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.loaderBox {
  background-color: #212121;
  height: 640px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 1.75rem;
  font-weight: 500;
  color: #555;
}

.loader {
  border: 16px solid #555; /* 회색 테두리 */
  border-top: 16px solid #b45c09; /* 파란색 테두리 */
  border-radius: 50%; /* 원 모양으로 만들기 */
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite; /* 회전 애니메이션 */
  box-shadow: 0 0 2px 1px #555, /* 바깥쪽 테두리를 연하게 */
              0 0 1px 1px rgba(0, 0, 0, 0.1); /* 더욱 연한 바깥쪽 효과 */
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 744px) {
  .dataRowSet {
    overflow-x: auto;
    padding-bottom: 12px;
  }
  .dataRowSet::-webkit-scrollbar {
    height: 12px;
  }

  .dataRowSet::-webkit-scrollbar-track {
    background: #212121;
    border-radius: 10px;
  }

  .dataRowSet::-webkit-scrollbar-thumb {
    min-width: 101px;
    background-color: #131313;
    border-radius: 10px;
    border: 2px solid #212121;
  }

  .dataRowSet::-webkit-scrollbar-thumb:hover {
    background-color: #555;
  }
}
