.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContainer {
  display: flex;
  flex-direction: column;
  background-color: var(--gray-300);
  border-radius: 16px;
}

.companyColumnsHug {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  gap: 12px;
}

.companyColumns {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.companyColumnsNameCategoryHug {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.companyColumnsName {
  font-size: 16px;
  font-weight: 500;
  color: var(--white);
}

.companyColumnsCategory {
  font-size: 14px;
  font-weight: 400;
  color: var(--gray-200)
}

.companyColumnsLogoTextHug {
  display: flex;
  align-items: center;
  gap: 16px;
}

.modalContent {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  max-height: 950px;
  padding: 24px 24px;
  gap: 24px;
}

.companyLogo {
  width: 48px;
  height: 48px;
  border-radius: 9999px;
}

.PartitionHug {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.modalHeadText {
  font-size: 20px;
  font-weight: 700;
  color: var(--white);
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.CompaniesColumnText {
  font-weight: 700;
  font-size: 18px;
  color: var(--white);
  text-align: left;
}

.errorMessage {
  font-weight: 400;
  font-size: 14px;
  color: var(--error-red);
  text-align: start;
}

.noResultsMessage {
  font-size: 14px;
  color: var(--gray-200);
  font-weight: 400;
  width: 150px;
}

.deleteLogo {
  width: 32px;
  height: 32px;
  cursor: pointer;
}

@media (max-width: 743px) {
  .modalContent {
    max-width: 350px;
    max-height: 820px;
  }

  .companyColumnsName {
    font-size: 14px;
    font-weight: 500;
    color: var(--white);
  }

  .companyColumnsCategory {
    font-size: 12px;
    font-weight: 400;
    color: var(--gray-200)
  }

  .companyLogo {
    width: 40px;
    height: 40px;
    border-radius: 9999px;
  }

  .CompaniesColumnText {
    font-weight: 700;
    font-size: 14px;
    color: var(--white);
    text-align: left;
  }

  .modalHeadText {
    font-size: 16px;
    font-weight: 700;
    color: var(--white);
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .noResultsMessage {
    font-size: 12px;
    color: var(--gray-200);
    font-weight: 400;
  }
}

@import "../styles/reset.css"