.modalOverlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(33, 33, 33, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContainer {
  /* 모달의 전체 컨테이너 */
  background-color: var(--black-300);
  padding: 24px;
  border-radius: 16px;
  width: 496px;
  max-width: 100%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

.closeButton {
  /* 모달 닫기 버튼 (ic_delete.svg) */
  position: absolute;
  top: 16px;
  right: 16px;
  background: none;
  border: none;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  transform: translateY(-2px);
}

.modalHeader {
  /* 모달 헤더, "삭제 권한 인증" 텍스트 */
  margin-bottom: 30px;
  font-size: 20px;
  color: #ffffff;
  font-weight: 700;
  text-align: left;
}

.form {
  display: flex;
  flex-direction: column;
}

.formGroup {
  margin-bottom: 15px;
}

.label {
  display: block;
  margin-bottom: 15px;
  font-weight: bold;
  color: #ffffff;
  font-size: 14px;
  text-align: left;
}

.input {
  /* 비밀번호 입력 필드 */
  width: 100%;
  padding: 12px;
  padding-right: 40px;
  border-radius: 8px;
  border: 1px solid var(--gray-200);
  background-color: var(--black-300);
  color: #ffffff;
  font-size: 14px;
  text-align: left;
  position: relative;
}

.passwordWrapper {
  /* 비밀번호 입력 필드와 아이콘을 감싸는 컨테이너 */
  position: relative;
  margin-bottom: 20px;
}

.passwordToggle {
  /* 비밀번호 가시성 토글 아이콘 */
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  width: 24px;
  height: 24px;
}

.errorMessage {
  color: var(--error-red);
  font-size: 14px;
  margin-top: 8px;
  text-align: left;
}

@media (max-width: 743px) {
  .modalContainer {
    /* 모바일 버전에서의 모달 컨테이너 */
    width: 343px;
    height: 225px;
    padding: 16px;
    border-radius: 16px;
  }

  .closeButton {
    /* 모바일 버전에서의 모달 닫기 버튼 (ic_delete.svg) */
    transform: translateY(-8px);
  }

  .modalHeader {
    /* 모바일 버전에서의 모달 헤더 */
    font-size: 16px;
    margin-bottom: 26px;
  }

  .label {
    /* 모바일 버전에서의 입력 필드 라벨 */
    font-size: 14px;
    margin-bottom: 11px;
  }

  .input {
    /* 모바일 버전에서의 비밀번호 입력 필드 */
    width: 311px;
    height: 48px;
    font-size: 13px;
  }

  .passwordWrapper {
    /* 모바일 버전에서의 비밀번호 입력 필드와 아이콘을 감싸는 컨테이너 */
    margin-bottom: 16px;
  }

  .passwordToggle {
    /* 모바일 버전에서 비밀번호 가시성 토글 아이콘 */
    width: 24px;
    height: 24px;
    transform: translateY(-50%);
  }
}