.outlineContain {
  background-color: inherit;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #2E2E2E;
  position: sticky;
  z-index: 99;
  width: 100%;
}

.pageNavBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
  width: 100%;
  gap: 0px 41px;
  padding: 0px 24px;
}

.pageNavBox>img {
  margin: 0px 24px;
}

.boardList {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 34px;
  font-size: inherit;
}

.boardList li {
  font-size: 0.9375rem;
  font-weight: 600;
  color: #747474;
}

/* 미리 생성 */
.boardActive {
  color: #FFFFFF;
  font-weight: 700;
}

@media (max-width: 1200px) {
  .pageNavBox {
    gap: 0px 24px;
  }
}

@media (max-width: 744px) {
  .pageNavBox {
    gap: 0px 16.5px;
  }

  .boardList {
    gap: 16px;
  }

  .boardList li {
    font-size: 0.8125rem;
    font-weight: 700;
  }

  .pageNavBox>a>img {
    width: 85px;
    height: 100%;
  }
}

@media (max-width: 425px) {
  .pageNavBox {
    gap: 0px 16.5px;
    padding: 0px 16px;
  }

  .pageNavBox>a>img {
    width: 63.5px;
    height: 100%;
  }
}